<div class="region">
    <strong id="_title">Regions</strong>
    <p class="p_info">BROWSE STARTUPS BY COUNTRY</p>


    <br><br>
    <span class='name'>
        <a class="href_color" href="/startups?region=Europe"><strong>Europe</strong>
    </a></span>
    <br>

    <div class="regions">
        <div class='regionDeck'>

            {{#each reg1}} 
                 <p class="example-shadow-2"><a href="/startups?country={{text}}" style="background-color: #40b1bf">{{text}}</a></p>
            {{/each}}

            </a>
        </div>
    </div>

    <br><br>
    <span class='name'>
        <a class="href_color" href="/startups?region=Asia"><strong>Asia</strong>
    </a></span>
    <br>
    
    <div class="regions">
        <div class='regionDeck'>

            {{#each reg2}} 
                 <p class="example-shadow-2"><a href="/startups?country=/{{text}}" style="background-color: #40b1bf">{{text}}</a></p>
            {{/each}}

            </a>
        </div>
    </div>

    <br><br>
    <span class='name'>
        <a class="href_color" href="/startups?region=North America"><strong>North America</strong>
    </a></span>
    <br>

    <div class="regions">
        <div class='regionDeck'>

            {{#each reg4}} 
                 <p class="example-shadow-2"><a href="/startups?country={{text}}" style="background-color: #40b1bf">{{text}}</a></p>
            {{/each}}

            </a>
        </div>
    </div>

    <br><br>
    <span class='name'>
        <a class="href_color" href="/startups?region=Africa"><strong>Africa</strong>
    </a></span>
    <br>
    <div class="regions">
        <div class='regionDeck'>

            {{#each reg5}} 
                 <p class="example-shadow-2"><a href="/startups?country={{text}}" style="background-color: #40b1bf">{{text}}</a></p>
            {{/each}}

            </a>
        </div>
    </div>

</div>



