<div class="startup">
    <strong id="_title">{{startup.title}}</strong>
    <img width="50%" src="{{startup.img}}" alt="{{startup.title}}">
    <p>{{startup.desc}}</p>
    <p>Creater: <a style="color: black;" href="#">{{startup.full_desc}}</a></p>
    <p>Resource link: <a style="color: black;" href="#">{{startup.resource_link}}</a></p>
</div>